* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    background: #BFD7E4;
}

body::before {
    content: '';
    width: 100%;
    height: 45.6rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #293241;
}

.page {
    width: 75rem;
    margin: 0 auto 5.0rem;
}

header {

    margin: 0 auto;
    width: 75rem;
    height: 31.6rem;
    text-align: center;

    /* margin-top: 14rem; */
}

header h1 {
    color: #FFFFFF;
    
    padding-top: 10rem;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 3.6rem;
}

header p {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.top {
    background-color: #F67669;
    width: 100%;
    border-radius: 8px 8px 0px 0px;

    font-family: 'Staatliches', cursive;
    font-size: 2.4rem;

    color: #FFFFFF;
    text-align: center;

    margin-top: 0.99rem;
    padding: 5rem 0;
}


form {
    background: #FAFAFC;
    border-radius: 0px 0px 8px 8px;
    padding: 6.4rem;

    display: flex;
    flex-direction: column;
    gap: 48px;

}

fieldset {
    border: none;
}

.fieldset-wrapper input, select, textarea {
    width: 100%;
    height: 5.0rem;

    margin-top: 0.7rem;
    padding: 1.0rem;
    border-radius: 0.8rem;
    border: 1px solid #E6E6F0;

    background-color: #FAFAFC;
}

.fieldset-wrapper label{
    display: flex;


    font-size: 1.4rem;
    line-height: 2.4rem;
    gap: 0.6rem;
    align-items: center;
    margin-top: 1.0rem;

}

.fieldset-wrapper label span {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;


    color: #C1BCCC;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.first input, .input-wrapper-select select {
    width: 30rem;
    height: 5.0rem;
    gap: 2.4rem;
}

.input-wrapper-select {
    display: flex;
    flex-direction: column;
}

.fieldset-wrapper textarea {
    height: 16.6rem;
}

.checkbox-wrapper {
    position: relative;
    margin-top: 2.9rem;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    margin: 0;
}

.checkbox-wrapper input { 
    position: absolute;

    top: 0;
    left: 0;
    width: 2.4rem;
    height: 2.4rem;

    opacity: 0;
}

.checkbox-wrapper label::before { 
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    display: block;

    border: 1px solid #E6E6F0;
    border-radius: 0.8rem;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
}

.col-3 {
    display: flex;
    gap: 20px;
}

.col-3 > div:nth-child(1) {
    width: 30rem;
}

.col-3 > div:nth-child(2) {
    width: 14rem;
}

.col-3 > div:nth-child(3) {
    width: 14rem;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60rem;
    height: 5.0rem;

    padding: 1.5rem 4.0rem;

    border: none;
    border-radius: 0.8rem;

    color: #FFFFFF;
    background: #F67669;

    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.6rem;
    text-transform: uppercase;

    cursor: pointer;
}


fieldset legend {
    font-family: 'Staatliches' sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.4rem;

    text-align: center;
    text-transform: uppercase;

    width: 100%;

    padding-bottom: 1.6rem;
    border-bottom: 1px solid #E6E6F0;
}
